
.btnLogin {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);

    width: 280px;
    height: 48px;

    display: flex;
    justify-content: center;

    background-color: #ff534b;
}

.btnText {
    width: 126px;
    height: 19px;

    line-height: 1.19;
    letter-spacing: 0.2px;

    font-size: 14px;
    font-weight: bold;

    color: #ffffff;
}

.btnImg {
    width: 16px;
    height: 16px;
    color: #ffffff;
}

.textVersion {

    margin-top: 179px;
    margin-bottom: 24px;

    width: 63px;
    height: 15px;

    font-size: 13px;
    line-height: 1.15;
    letter-spacing: normal;
    text-align: center;
    color: #8b8b8b;
}
