.div-topic {
    flex: 0 1 auto;
    margin-right: 0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
.topic-title {
    align-content: flex;
    margin-bottom: 1rem;
    text-transform: capitalize;
}