.drawer{
    width: 70px;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    padding-top: 20px;
    background-color: #ffffff; /*default*/
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    transition: 0.2s;
    transition-timing-function:ease;
    overflow: hidden;
}

.drawer:hover{
    width: 200px;
}
.drawerIcon{
    width: 70px;
    pointer-events: none;
}

.drawerIcon  * {
    width: 70px;
}

.menuItemLabel{
    width: 75px;
    height: 22px;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-align: left;
    color: #8b8b8b;
    padding-left: 8px;
;
}

.menuItemLabelSelected{

}