 .md-list-item-text {
     padding-top: 1em;
     padding-bottom: 1em;
  }

 .md-list {
     width: 40em;
     max-width: 100%;
     display: inline-block;
     vertical-align: top;
     border: 1px solid rgba(#000, .12);
 }

 .list-title {
     margin-bottom: 10px;
 }

 .list-subtitle {
     margin-bottom: 8px;
 }
